/*advantages-------------------------------------------------------------------------- */

.advantages-list {
    display: block;
    display: flex;
    margin: 0px;
    padding-bottom: 0;
    &__item + &__item {
        margin-left: 30px;
    }
    &__title {
        display: block;
        margin-top: 0px;
        margin-bottom: 10px;

        font-weight: bold;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--title-text-color);
    }
    &__text {
        line-height: 1.71;
        color: var(--primary-text-color);
    }
}

/*Icons bussines*/

.advantages-div {
    display: flex;
    width: 270px;
    height: 120px;
    background: var(--accent-btn-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
