/* Footer */


/* adress */
.address {
    font-style: normal;
}



.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;
}

.footer-container .container {
    display: flex;
    align-items: baseline;
}

.enter-link {
    margin-left: 70px;
}

.text-enter.text {
    margin-bottom: 20px;
}

/* subscribe */
/* form-subscribe */
.form-subscribe {
    display: flex;
    align-items: center;
}

.form-subscribe .modal-input {
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
    padding: 15px 16px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.form-subscribe .modal-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contacts>.webstudio {
    color: #ffffff;
}

.webstudio.webstudio-footer {
    display: block;
    margin-bottom: 20px;
}

.list .item+.item {
    margin-top: 9px;
}

.location {
    text-decoration: none;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-item {
    text-decoration: none;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

/*Icons footer*/

.footer-social-item .icon-link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;


}

/* Subscribe */
.subscribe {
    margin-left: 70px;
}

.button-wrap {
    display: flex;
    align-items: center;
}

.button-wrap-title {
    margin-right: 10px;
}

.button-wrap .button-wrap-svg {
    fill: var(--primary-bg-color);
}

/*  */
.button-send {
    display: inline-flex;
}

.button-send::after {
    margin-left: 10px;
    content: '';
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../images/icon-send.png);


}

.button-send:hover,
.button-send:focus,
.button-send:hover .button-wrap-title,
.button-send:focus .button-wrap-title,
.button-send:hover .button-wrap-svg,
.button-send:focus .button-wrap-svg {
    cursor: pointer;

}


/* Hover and focus++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.menu-link:hover,
.menu-link:focus,
.location:hover,
.location:focus,
.footer-contact-item:hover,
.footer-contact-item:focus {

    cursor: pointer;
    color: var(--primary-btn-bg-color);

}

.contact-item:hover,
.contact-item:focus,
.contact-item:hover .icon-phone,
.contact-item:focus .icon-phone,
.contact-item:hover .icon-message,
.contact-item:focus .icon-message {
    fill: var(--primary-btn-bg-color);
    color: var(--primary-btn-bg-color);
    cursor: pointer;
}

.icon-link:hover,
.icon-link:focus {
    background-color: var(--primary-btn-bg-color);
    cursor: pointer;
    fill: #FFFFFF;
}