/*Section work--------------------------------------------------------------*/
.work.section {
    padding-top: 0;
    text-align: center;
}

.section-title {
    display: block;
    margin-bottom: 50px;

    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
}


.work-list {
    display: flex;
    justify-content: center;
}

.work-list .item {
    position: relative;
}


.thumb-bg {
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    color: var(--primary-bg-color);

}

.thumb-bg .thumb-bg-p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


.work-list .item+.item {
    margin-left: 30px;
}